$blue: rgb(40, 157, 212);
$darker-blue: rgb(44, 122, 158);
$disabled-blue: rgb(98, 126, 139);
$white: #FFF;
$black: #181818;
$lighteen-black: rgb(56, 56, 56);
$grey: #d6d9db;
$lighteen-grey: #F2F5F7;
$darker-grey: rgb(90, 90, 90);
$red: rgb(231, 65, 65);
$green: rgb(41, 153, 41);